@charset "ISO-8859-1";

.banner {
	background-color:red;
	color:white;
	font-family:arial;
	font-size:24pt;
	font-weight : bold;
	letter-spacing:5pt;
}
.menu {
	background-color:#dddddd;
	font-weight : bold;
}

.body {
	font-family : verdana;
	font-size : 12pt;
}

h2 {
	color : blue;
}